{% capture shop_link %}
  {% if settings.default_shop_page != nil %}
    {{ settings.default_shop_page }}
  {% else %}
    /collections/all
  {% endif %}
{% endcapture %}

<header class="header">

  <div class="header-logo" role="banner" >
    <a class="header-logo__link" href="{{ shop_link }}">
      <div class="click-shield"></div>
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="header-logo__img" />
    </a>
    {% if template == 'index' %}
      {% comment %}
        Many SEO audit tools look for a h1 tag on the home page. Let's give 'em one.
        Other pages should use the resource name as h1 tag.
      {% endcomment %}
      <h1 class="hidden">{{ shop.name }}</h1>
    {% endif %}
  </div>

  <div class="header-nav-mobile">
    <a href="#" class="header-nav-mobile__toggle">Menu</a>
    {% include 'site-nav' %}
  </div>

  <div class="header-nav">
    {% include 'site-nav' %}
  </div>

  <div class="header-cart">
    <a href="/cart">
      <span class="header-cart__text">Items in bag : {{ cart.item_count }}</span>
      <span class="header-cart__icon">Bag : {{ cart.item_count }}</span>
    </a>
  </div>

  {% comment %}
      
  {% if shop.customer_accounts_enabled %}
  <div class="customer-links">
    {% if customer %}
      Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
    {% else %}
      {{ 'Log in' | customer_login_link }}
      {% if shop.customer_accounts_optional %}
      or {{ 'Create an account' | customer_register_link }}
      {% endif %}
    {% endif %}
  </div>
  {% endif %}

  {% endcomment %}

</header>