{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% capture swatch_html %}
  {% include 'product-list-product-swatches' %}
{% endcapture %}
{% assign swatch_html = swatch_html | strip %}

  <li class="product-list__product{% if product.available != true %} product-list__product--sold-out{% endif %}">
    <a href="{{ product.url }}" title="{{ product.title | escape }}">
      {% comment %}
        Let's cheat a little bit here and force hi-res images for desktop screens by defining the container
        (number in 'sizes' media-query) to be bigger than it actually is.  We do this because shopify compresses
        our images on upload and makes them look pixelated when viewing at 1x.  Better to scale them down and get more detail.
      {% endcomment %}
      <img 
        src="{{ product | img_url: '800x' }}"
        srcset="
                {{ product | img_url: '400x' }} 400w,
                {{ product | img_url: '800x' }} 800w,
                {{ product | img_url: '900x' }} 900w,
                {{ product | img_url: '1100x' }} 1100w,
                {{ product | img_url: '1600x' }} 1600w"
        sizes="(max-width: 599px) 390px,
               (max-width: 767px) 795px,
               1100px"
        alt="{{ product.featured_image.alt | escape }}" class="product-list__product-img" />
    </a>
    <div class="product-list__product-info">
      <a href="{{ product.url }}" title="{{ product.title | escape }}" class="product-list__product-info-link">
        <span class="product-list__product-title">{{ product.title }}</span>
        {% comment %}
        <span class="product-list__product-price">
          - 
          {% if product.price_varies %}From{% endif %}
            <span data-convert-money>{{ product.price | money }}</span>
          {% if on_sale %}
            <span class="compare-at-price" data-convert-money style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span>
          {% endif %}
        </span>
        {% endcomment %}
      </a>
      {% if swatch_html != blank %}
        <div class="product-list__product-swatches">
          {{ swatch_html }}
        </div>
      {% endif %}
    </div>
  </li>