<div class="main-column">
  
  {% if section.settings.image != nil %}
    <img src="{{ section.settings.image | img_url: '600x' }}" />
  {% else %}
    <img src="{{ 'about.jpg' | asset_url }}" />
  {% endif %}
  
  <div class="sidebar">
    <div class="sidebar-about-content">
      <div class="rte" style="margin-bottom: 30px">
        {{ page.content }}
      </div>
      <p style="margin-bottom: 30px;">
        <strong class="small">Contact</strong><br />
        <a href="mailto:studio@vancestudio.com" target="_blank">studio@vancestudio.com</a>
      </p>
      {% unless settings.social_instagram_link == blank %}
        <p style="margin-bottom: 30px;">
          <strong class="small">Follow Us</strong><br />
          <a href="http://instagram.com/{{ settings.social_instagram_link }}" target="_blank">@{{ settings.social_instagram_link }}</a>
        </p>
      {% endunless %}
      {% unless settings.newsletter_form_action == blank %}
        <form class="mc-ajax-form" action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate target="_blank">
          <div class="form-group">
            <strong class="small">Sign Up</strong><br />
            {% comment %} Keep this label hidden because ajaxchimp messes with it {% endcomment %}
            <label for="newsletter-subscribe-input" class="sr-only">Subscribe For Updates</label>
            <div class="newsletter-subscribe-input-wrapper">
              <input id="newsletter-subscribe-input" type="email" name="EMAIL" class="form-control" placeholder="Join Our Mailing List" value="{% if customer %}{{ customer.email }}{% endif %}" required="required"/>
              {% comment %} real people should not fill this in and expect good things - do not remove this or risk form bot signups {% endcomment %}
              <button type="submit">&gt;</button>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_860d69c1b641125be92c01f64_1a8ecda325" tabindex="-1" value=""></div>
          </div>
        </form>
      {% endunless %}
    </div>
  </div>
</div>

{% unless settings.newsletter_form_action == blank %}
<div id="modal-newsletter-subscribe" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="modal-newsletter-success">
          <p class="text-center">Thank you for subscribing.</p>
          <p class="text-center" style="margin-bottom: 0;">
            Please check your email to confirm your subscription.
          </p>
        </div>
        <div class="modal-newsletter-error">
          <p class="text-center modal-newsletter-error__message" style="margin-bottom: 0;">
            Something went wrong.<br/><br/>Please try entering your email again or reload the page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endunless %}

{% schema %}
  {
    "name": "About page",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "image",
        "info": "Default image will show if none is provided"
      }
    ]
  }
{% endschema %}