<div class="main-column">
  {% if cart.item_count > 0 %}

    <form action="/cart" method="post">

      {% if cart.announcements.size > 0 %}
        <ul>
          {% for announcement in cart.announcements %}
            <li>{{ announcement }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <table class="cart-table">
        
        <thead>
          <tr>
            <th>Item</th>
            <th>&nbsp;</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>&nbsp;</th>
            <th>Total</th>
          </tr>
        </thead>
        
        <tbody>

        {% for item in cart.items %}

          <tr class="cart-row">
            <td class="cart-row__img">
              <a href="{{ item.url }}">
                <img src="{{ item | img_url: '150x' }}"  alt="{{ item.title | escape }}" />
              </a>
            </td>
            <td class="cart-row__item">
              <h2>
                <a href="{{ collection_url }}{{ item.url }}">
                {{ item.title }}
                </a>
              </h2>
              {% comment %}
              Line Item Properties
              {% endcomment %}
              {% assign properties_amount = item.properties | size %}
              {% if properties_amount > 0 %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                    <br />
                  {% endunless %}
                {% endfor %}
              </p>
              {% endif %}
            </td>
            <td class="cart-row__price">{{ item.price | money }}</td>
            <td class="cart-row__qty">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity form-control" value="{{ item.quantity }}" />
            </td>
            <td class="cart-row__remove">
              <a href="/cart/change?line={{ forloop.index }}&quantity=0" title="Remove Item">&times;</a>
            </td>
            <td class="cart-row__total">{{ item.line_price | money }}</td>
          </tr>
        {% endfor %}
        
        </tbody>
        
      </table>

      <div class="cart-footer" style="margin-top: 40px;">
        <h3 style="text-align: right;">{{ cart.total_price | money }}</h3>
        {% comment %}
        Add JS to handle quantity change?
        <input type="submit" name="update" value="Update cart" class="btn" />
        {% endcomment %}
        <input type="submit" name="checkout" value="Check Out" class="button button--checkout" />    
        {% comment %}Paypal and Google checkout buttons{% endcomment %}
        {% if additional_checkout_buttons %}
        <p class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </p>
        {% endif %}
      </div>

    </form>

  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <h2 class="text-center">Shopping Cart</h2>
    <p class="text-center">Your cart is currently empty.  Continue browsing <a href="/collections/all">here</a>.</p>
  {% endif %}
</div>