<div class="main-column">
  {% if cart.item_count > 0 %}

    <form action="/cart" method="post">

      {% if cart.announcements.size > 0 %}
        <ul>
          {% for announcement in cart.announcements %}
            <li>{{ announcement }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      
      <table class="cart-table">
        
        <thead>
          <tr>
            <th colspan="2">Item</th>
            <th>Quantity</th>
            <th>&nbsp;</th>
            <th>Total</th>
          </tr>
        </thead>
        
        <tbody>

        {% for item in cart.items %}

          <tr class="cart-row">
            <td class="cart-row__img">
              <a href="{{ item.url }}">
                <img src="{{ item | img_url: '150x' }}"  alt="{{ item.title | escape }}" />
              </a>
            </td>
            <td class="cart-row__item">
              <h2>
                <a href="{{ collection_url }}{{ item.url }}">
                {{ item.title }}
                </a>
              </h2>
              {% comment %}
              Line Item Properties
              {% endcomment %}
              {% assign properties_amount = item.properties | size %}
              {% if properties_amount > 0 %}
              <p>
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}
                    <br />
                  {% endunless %}
                {% endfor %}
              </p>
              {% endif %}
              <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart-row__item-remove">Remove</a>
            </td>
            <td class="cart-row__qty">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity form-control" value="{{ item.quantity }}" />
            </td>
            <td class="cart-row__remove">
              <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
            </td>
            <td class="cart-row__total" data-convert-money>{{ item.line_price | money }}</td>
          </tr>
        {% endfor %}
        
        </tbody>
        
      </table>

      <div class="cart-footer" style="margin-top: 40px;">
        <h3 class="text-right" data-convert-money>{{ cart.total_price | money }}</h3>
        <div class="clearfix">
          <input type="submit" name="checkout" value="Check Out" class="button button--checkout" />    
          {% comment %}Paypal and Google checkout buttons{% endcomment %}
          {% if additional_checkout_buttons %}
          <p class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </p>
          {% endif %}
        </div>
        {% if settings.show_multiple_currencies %}
          <div class="cart-currency-note">
            <p><strong>Note</strong></p>
            <p>Our store processes all orders in <strong>{{ shop.currency }}</strong></p>
            <p>While the contents of your cart is currently displayed in <strong class="selected-currency"></strong>, you will check out using <strong>{{ shop.currency }}</strong> at the most current exchange rate.
            </p>
          </div>
        {% endif %}
      </div>

    </form>

  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <h1 class="hidden">Shopping Bag</h1>
    <p class="text-center">Your bag is currently</p>
    <p class="text-center"><a href="/collections/all">Continue browsing here</a></p>
  {% endif %}
</div>