{% assign add_to_cart = 'Add to Bag' %}
{% assign sold_out    = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}
{% assign photo_main_dimension = '900x' %}
{% assign photo_zoom_dimension = '1400x' %}

{% comment %} Special order variables {% endcomment %}
{% assign special_order_email = 'studio@vancestudio.com' %}
{% assign special_order_subject = 'Special Order Request: ' | append: product.title %}
{% capture special_order_mailto %}
  mailto:{{ special_order_email }}?subject={{ special_order_subject }}
{% endcapture %}
{% assign special_order_mailto = special_order_mailto | strip | url_escape %}
{% comment %} End special order variables {% endcomment %}

{% comment %} Code for showing the size guide {% endcomment %}
{% assign size_options = 'size' | split: ',' %}
{% assign has_size = false %}
{% for option in product.options %}  
  {% assign downcased_option = option | downcase %}
  {% if has_size == false and size_options contains downcased_option %}
    {% assign has_size = true %}
  {% endif %}
{% endfor %}

{% assign has_size_guide = false %}
{% if pages[settings.size_guide_page] != empty %}
{% assign has_size_guide = true %}
{% endif %}

{% assign show_size_guide = false %}
{% if has_size_guide and has_size %}
  {% assign show_size_guide = true %}
{% endif %}
{% comment %} End size guide {% endcomment %}

{% comment %} Code for stripping last iframe embedded in product description {% endcomment %}
{% assign product_has_video = false %}
{% assign product_video_src = '' %}
{% assign description = product.description %}
{% assign iframe_open_tag = '<iframe' %}
{% assign iframe_close_tag = '</iframe>' %}

{% if description contains iframe_open_tag %}
  {% assign description_parts = description | split: iframe_open_tag %}
  {% assign description = '' %} {% comment %} Reset this because we're going to rebuild it without any iframes {% endcomment %}
  {% assign parts_loop_max = description_parts | size | minus: 2 %} {% comment %} Minus 1 because array is zero index, minus 1 more because we don't want the last element {% endcomment %}
  {% assign target_description_part = description_parts | last %}
  {% for i in (0..parts_loop_max) %}
    {% assign description = description | append: description_parts[i] | append: iframe_open_tag %}
  {% endfor %}

  {% assign target_part = description_parts | last %}
  {% if target_part contains iframe_close_tag %}
    {% comment %} Split on the tag and extract the "src" {% endcomment %}
    {% assign parts = target_part | split: iframe_close_tag %}
    {% assign product_video_src = parts[0] | split: 'src="' %}
    {% assign product_video_src = product_video_src[1] | split: '"' | first %}
    {% assign description_remainder = parts[1] %} {% comment %} The fact that we split on iframe first and then on </iframe> pretty much guarantees that we only have 2 parts{% endcomment %}
    {% if product_video_src %}
      {% assign product_has_video = true %}
    {% endif %}
    {% assign description = description | append: description_remainder %} {% comment %} Build description out of what is left {% endcomment %}
  {% endif %}
{% endif %}
{% comment %} End iframe stripping {% endcomment %}

<div class="main-column">
  <div class="product" itemscope itemtype="http://schema.org/Product">

    <div class="product-photos">
  
    {% if product.images.size == 0 %}
  
      <div class="product-photo__main">
        <img src="{{ '' | img_url: photo_zoom_dimension }}" alt="{{ product.title | escape }}" />
      </div>
    
    {% else %}
    
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <div class="product-photo__main">
        <div class="click-shield"></div>
        <a href="{{ featured_image | img_url: photo_zoom_dimension }}">
          <img src="{{ featured_image | img_url: photo_main_dimension }}" alt="{{ product.title | escape }}" />
        </a>
      </div>

      {% if product.images.size > 1 %}
      <ul class="product-photo-thumbs">
        {% for image in product.images %}
        <li class="product-photo-thumb">
          <a href="{{ image | img_url: photo_main_dimension }}" data-zoom="{{ image | img_url: photo_zoom_dimension }}">
            <img src="{{ image | img_url: '110x' }}" alt="{{ image.alt | escape }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    
    {% endif %}

    </div><!-- .product-photos -->

    <div class="product-details" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      {% comment %}
        Get first variant, or deep linked one
      {% endcomment %}
      {% assign variant = product.selected_or_first_available_variant %}
      
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
      <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ variant.price | money }}">

      <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">

      <h1 itemprop="name" class="product-details__title">{{ product.title }}</h1>
      
      <div id="product-price" class="product-details__price">
        <span class="product-price" data-convert-money itemprop="price">{{ variant.price | money }}</span>
        <span class="product-compare-price" data-convert-money>
          {% if product.compare_at_price > product.price %}{{ variant.compare_at_price | money }}{% endif %}
        </span>
      </div>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <form action="/cart/add" method="post" enctype="multipart/form-data">   

        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          <select id="product-select" name="id" class="form-control">
          {% for variant in product.variants %}
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
            {{ variant.title }}
            </option>
          {% endfor %}
          </select>
        </div>        
          
        <div id="product-add">
          <input type="submit" name="add" id="add" class="button button--addtocart" value="Add to Bag">
        </div>

      </form>

      <div id="product-description" class="product-details__description rte" itemprop="description">
        {% unless product.available %}
          <p class="product-soldoutmsg">
            *Although this item is currently out of stock, it is available for special order.  To place a special order please email us at <a href="{{ special_order_mailto }}" target="_blank" style="text-decoration: underline">{{ special_order_email }}</a>
          </p>
        {% endunless %}
        {{ description | strip }}
      </div>
      
      {% if show_size_guide %}
        <a href="#" class="size-guide-toggle" data-toggle="modal" data-target="#modal-size-guide">
          <strong>Size Guide</strong>
        </a>
      {% endif %}
      
    </div><!-- .product-details -->

    {% if product_has_video %}
      <div id="product-video" class="product-video" data-src="{{ product_video_src }}">
        <a href="#" class="product-video__toggle" data-toggle="modal" data-target="#modal-product-video">
          <strong>Fit Video</strong>
        </a>
        <div id="product-video__wrapper" class="product-video__wrapper">
          <div id="product-video__ratio" class="product-video__ratio">
            {% comment %} Fill this in via JS {% endcomment %}
            <!-- <iframe id="product-video__embed" src="{{ product_video_src }}" frameborder="0" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

<div class="product-blowup">
  <div class="product-blowup__scroll">
    <img class="product-blowup__image" />
  </div>
  <a href="#" class="product-blowup__close" title="Close">&times;</a>
</div>

{% if show_size_guide %}
<div id="modal-size-guide" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <div class="size-guide">
          {{ pages[settings.size_guide_page].content }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if product_has_video %}
<div id="modal-product-video" class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        {% comment %} Put the video in the frame via JS when the modal is opened {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>

  window.ProductPageConfig = {
    product: {{ product | json }},
    moneyFormat: {{shop.money_format | json }},
    photoMainDimenion: {{ photo_main_dimension | json }},
    hasVideo: {{ product_has_video | json}},
    msg: {
      addToCart: {{ add_to_cart | json }},
      soldOut: {{ sold_out | json }},
      unavailable: {{ unavailable | json }}
    }
  };

</script>